 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Newsreader:opsz,wght@6..72,400;6..72,600&display=swap');
 html {
    scroll-behavior: smooth;
  }
body{
    background-color: #EAEFF2 !important;
}

* {
    margin: 0;
    padding: 0;
}
.top-band{
    text-align: center;
    background-color: #00308F;
}

.popup{
    font-family: 'Montserrat', sans-serif;
    background-color: #FDB750;
    width: 20vw;
    height: 28vw;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    display: none;
    text-align: center;
    z-index: 99;
}
.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #00E0D4;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup p{
    font-size: 14px;
    text-align: center;
    margin: 20px 0;
    color: #0f72e5;
    line-height: 25px;
}
.popup a{
    display: block;
    width: 10vw;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color:#EAEFF2;
    color:#00E0D4;
    text-decoration: none;
    padding: 5px 0;
    cursor: pointer;
}

.topbar {
    background-color:#EAEFF2;
    color:#00308F;
    font-family: 'Newsreader', serif;
    display: inline-flexbox;
    list-style-type: none;
    text-align: center;
    padding: 1vw 0;

}
.topbar h5{
    margin:1vw 1vw 0 0;
    font-size: 1.2vw;
}

.logo-img {
    width: 28vw;
    height: 5vw;
    
}
#top{
    z-index: 99;
}
.navigation {
    display: flex;
    background-color:#444;
}

.navigation ul {
    padding-left: 90px;
}

.navigation a:hover {
    color: black;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
}

.navigation a {
    color: white;
}

@media (max-width:500px) {
    .navbar {

        width: 10%;

    }

}
.sticky{
position: fixed;
top: 0;
width: 100%;
}
.search-bar {
    display: inline-block justify-content: center;
    width: 60px;
    height: 56px;
    position: absolute;
    margin: 0 73%;
    vertical-align: bottom;

}

.button {
    display: inline-block;
    margin: 15px 0;
    font-size: 14px;
    padding-left: 32px;
    padding-right: 32px;
    height: 56px;
    line-height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    background-color: black;
    color: darkred;
}

.mglass {
    display: inline-block;
    pointer-events: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.searchbutton {
    position: absolute;
    font-size: 22px;
    width: 84%;
    margin: 0;
    padding: 0;
}

.search:focus+.searchbutton {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    background-color: white;
    color: black;
}

.search {
    position: absolute;
    left: 49px;
    background-color: white;
    outline: none;
    border: none;
    padding: 0;
    width: 0;
    height: 100%;
    z-index: 10;
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
}

.search:focus {
    width: 40vw;
    padding: 0 16px 0 0;
}

.expandright {
    left: auto;
    right: 49px;
}

.expandright:focus {
    padding: 0 0 0 16px;
}

.social {
    margin: 0 40%;
}

.social ul {
    width: 90px;
    list-style-type: none;
}

.social li {
    margin: 14px 10px 0 10px;
}
.section-1{
    font-family: 'Montserrat', sans-serif;
    display: inline-flex;
}
.section-1 h6{
    font-weight: 600;
    font-size: 1vw;
}
.section-1 h5{
    font-weight: 700;
    font-size: 1vw;
}
.section-1 h2{
    margin: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1vw;
}
.section-1 a{
    text-decoration: none;
    color: #111;
}
.section-1 a:hover{
    color: darkred;
}
.section-1-bg{
    background-color:#00308F; 
    height: 46vw;
    margin: 0 2vw;
    border-radius: 2vw;
}
.big-story{
    margin:6vw 8vw;
    height: 20vw;
    width: 20vw ;
    background-color: #fff;

}
.bs-img{
    height: 20vw;
    width: 18vw;
    margin: 2% 5%;
    
}

.bs-img img{
    margin-bottom: 3%;
    width: 17vw;
    height: 10vw;
}

.thumbnail{
    position: relative;
    height: 22vw;
    width: 40vw;
    margin: 6vw 0 0 6vw ;
    background-color:#fff;
    
}
.thumb-img{
    
    height:42vh;
    width: 38vw;
    margin: 2% 2%;
}

.thumb-img img{
    margin-bottom: 3%;
    height: 18vw;
    width: 38vw;
}

.news-list{
    position: absolute;
    margin: 28vw 0 0vw 8vw;
    height: 48vw;
    width: 20vw;
    background-color: #fff;
}
.news-list ul{
    list-style-type: none;
  padding: 0;
  display: block;
}
.news-list li{
    position: relative;
    display: flex;
}

.nl-thumbnail img{
    margin: 1vw 0 0 1vw;
    width: 8vw;
    height: 6vw;
}
.news-carousel{
    position: absolute;
    margin: 36vw 0 0vw 36vw;
    height: 30vw;
    width: 50vw;
    background-color: #fff;

}
.c-image{
    height: 30vw;
    width: 50vw;
    filter: blur(6px);
}

.carousel-caption{
    height: 20vw;
    background-color: #111;
    color: darkred;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 1vw;
    border-radius: 1vw;
    opacity: 0.7;
}
.carousel-caption p{
    margin-top: 5vw;
    background-color: #fff;
    color: darkred;

}
.carousel-caption h1{
    font-weight: bolder;
    margin-top: 2vw;
    font-size: 1vw;
}

.live-container {
position: relative;
min-height: 100vh;
}
.live-container h1{
    font-family: 'Montserrat', sans-serif;
color: #111;
text-align: center;
padding: 15px;
font-size: 40px;
font-weight: normal;
}
.live-container .video-container{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    justify-content: center;
    padding: 10px;
}
.live-container .video-container .video{
    height: 250px;
    width: 350px;
    border: 5px solid #EAEFF2;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 7);
    cursor: pointer;
    overflow: hidden;
}
.live-container .video-container .video iframe{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}
.live-container .video-container .video:hover iframe{
    transform: scale(1.1);
}
.live-container .popup-video{
    position: fixed;
    top:0; left:0;
    z-index: 100;
    background: rgba(0,0,0,8);

    display: none;
}
.live-container .popup-video iframe{
    position: absolute;
    top:50%; left:50%;
    transform: translate (-50%, -50%);
    width:750px;
    border-radius: 5px;
    border:3px solid #fff;
    object-fit: cover;
}
.live-container .popup-video span{
   position: absolute;
   top:5px; right:20px;
   font-size: 50px;
    color:#fff;
   font-weight: bolder;
   z-index: 100;
   cursor: pointer;
}
@media (max-width:768px){
    .live-container .popup-video iframe{
       width:95%;
    }
}
/* .finance, .trending, .world{
    margin: 10vw 8vw 2vw 12vw;

}
.card{
    margin: 0 1vw; 
}
.card-body{
    font-weight: 600;
    font-size: 0.8vw;
    height: 9vw;
}
.card-img-top{
    height: 8vw;
    width: 10vw;
}
.card-img-top:hover{
    opacity: 0.7;
}
@media (max-width:500px) {
    .card-group {
        display: block;
    }
    .card-group img{
        height: 8vh;
        width: 8vh;
    }
    .card{
        height: 8vh;
        width: 8vh;
    }
    .card-group p{
        font-size: 5px;
    }
}
#section-2 a{
    text-decoration: none;
    color: #111;
}
#section-2 a:hover{
    color: #3D0C02;
}
 */
.content{
    margin: 10vw 10vw;
}
.content a{
    font-family: 'Montserrat', sans-serif;
    color: #111;
    font-weight: 700;
    text-decoration: none;
}
.content h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #00308F;
}
.box:hover{background:#00308F;position:relative}
.box:after,.box:before{width:50px;height:50px;border-radius:50%;background:#10a5b8;position:absolute;top:-80px;left:15px;opacity:0;z-index:1;transition:all .35s ease}
.box:after{top:auto;left:auto;bottom:-80px;right:15px}
.box:hover:after,.box:hover:before{opacity:.75;transform:scale(8);transition-delay:.15s}
.box img{width:100%;height:auto;transition:all .35s ease-out 0s}
.box:hover img{opacity:.4}
.box .icon{margin:0;position:absolute;bottom:15px;right:15px;z-index:2;transform:scale(0);transition:all .35s ease-out}
.box:hover .icon{transform:scale(1);transition-delay:.15s}
.box .icon li a{display:block;width:35px;height:35px;line-height:35px;background:#fff;font-size:18px;color:#444;margin-right:10px;position:relative;transition:all .5s ease 0s}
.box .icon li a:hover{background:#444;color:#fff}
.box .box-content{padding:20px 15px;position:absolute;top:0;left:0;z-index:1}
.box .title{font-size:20px;font-weight:800;color:#fff;margin:0 0 5px;opacity:0;transform:translate(-20px,-20px);transition:all .35s ease-out}
.box:hover .title{opacity:1;transform:translate(0,0);transition-delay:.15s}
.box .post{display:inline-block;font-size:16px;color:#fff;opacity:0;transform:translate(-20px,-20px);transition:all .35s ease-out}
.box:hover .post{opacity:1;transform:translate(0,0);transition-delay:.15s}
.box6 .title,.box6 img,.box6:after{transition:all .35s ease 0s}
@media only screen and (max-width:990px){.box{margin-bottom:0px}
}

#footer{
    background-color: #00308F;  
}
#footer li{
    list-style-type: none;
 }
 #footer a{
    font-family: 'Montserrat', sans-serif;

    text-decoration: none;
    color: white;
 }
#footer h3{
    margin: 2vw 2vw;
    font-size: 2vw;
}
#footer input{
    width: 20vh;
}
#footer button{
    background-color: black;
    margin: 1vw 0;
    width: 20vh;
    color: #fff;
}

#footer button:hover{
    background-color: #00308F;
}
#footer-bottom{
    margin: 0 2vw;
}
.social-links a{
    margin: 0 0 0 0.5vw;
}

.footer-logo img{
    width:16vw;
    height: 10vw;
}
.bottom-band{
    background-color: #111;
}
.breadcrumb{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 2vw 2vw 0 7.8vw;
    
}
.breadcrumb-class a{
    text-decoration: none;
    color: #111;
}
.heading h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}



.article-image img{
    margin: 0 0 2vw 8vw ;
    height: 30vw;
    width: 40vw;
}
.article-smalltxt{
    font-family: 'Montserrat', sans-serif;

}
